/***
   style reset 
***/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  cursor: pointer;
  color: #1a1a1a;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
}
::placeholder {
  color: unset;
}
::marker {
  content: initial;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Light.eot");
  src: local("Commissioner Light"), local("../fonts/Commissioner-Light"),
    url("../fonts/Commissioner-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-Light.woff2") format("woff2"),
    url("../fonts/Commissioner-Light.woff") format("woff"),
    url("../fonts/Commissioner-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Medium.eot");
  src: local("Commissioner Medium"), local("../fonts/Commissioner-Medium"),
    url("../fonts/Commissioner-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-Medium.woff2") format("woff2"),
    url("../fonts/Commissioner-Medium.woff") format("woff"),
    url("../fonts/Commissioner-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kukurudza";
  src: url("../fonts/Kukurudza-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Regular.eot");
  src: local("Commissioner Regular"), local("../fonts/Commissioner-Regular"),
    url("../fonts/Commissioner-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-Regular.woff2") format("woff2"),
    url("../fonts/Commissioner-Regular.woff") format("woff"),
    url("../fonts/Commissioner-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-SemiBold.eot");
  src: local("Commissioner SemiBold"), local("../fonts/Commissioner-SemiBold"),
    url("../fonts/Commissioner-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-SemiBold.woff2") format("woff2"),
    url("../fonts/Commissioner-SemiBold.woff") format("woff"),
    url("../fonts/Commissioner-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Italic.otf");
  src: local("Commissioner Italic"), local("../fonts/Commissioner-Italic"),
    url("../fonts/Commissioner-Italic.woff2") format("woff2"),
    url("../fonts/Commissioner-Italic.woff") format("woff"),
    url("../fonts/Commissioner-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ermilov-Bold";
  src: url("../fonts/ermilov-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/ermilov-bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/ermilov-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ermilov-bold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/ermilov-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/ermilov-bold.svg#ermilov-bold")
      format("svg");
  /* Chrome < 4, Legacy iOS */
}

/* The animation code */

@keyframes animTitle {
  from {
    /* Add starting values for animation */
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    /* Add Ending values for animation */
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* colors */

$black: #1a1a1a;
$orange: #ff6b00;
$purple: #6736d0;
$white: #f7f7f7;
$blue: #5668e6;
$grey: #b9b9b9;

/* general styles */

body {
  font-family: "Commissioner";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */

  color: $black;
  background: $white;
  scroll-behavior: smooth;
  position: relative;
}

._lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ermilov-Bold";
  font-style: normal;
  font-weight: 700;
}
h1 {
  font-size: 142px;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 55px;
  line-height: 50px; /* 90.909% */
}
section {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

/* mixin */

@mixin flexible() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: $white;
  font-family: "Ermilov-Bold";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 75px;
  padding-top: 4px;
  border-radius: 100px;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;

  span {
    z-index: 3;
    position: inherit;

    &:nth-child(2) {
      display: none;
      background-image: url(./../img/finger.svg);
      width: 23px;
      height: 28px;
      margin-left: 10px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 0%;
  //   will-change: transform;
  //   transition-timing-function: cubic-bezier(0.12, 0.77, 0.16, 0.93);
  //   transition-duration: 0.5s;
  //   z-index: 1;
  // }

  &:hover {
    transition: all 0.5s ease;

    // &::after {
    //   height: 100%;
    //   transition: all 0.5s ease;
    // }
  }

  &:hover {
    // span {
    //   display: block;
    //   transition: all 0.5s ease;
    // }
  }
}

.button-read {
  @include flexible();
  height: 36px;
  width: fit-content;
  gap: 10px;
  border-radius: 95.17px;
  border: 1px solid #1a1a1a;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  transition: all 0.3s ease;

  span {
    background-image: url(./../img/read-more.svg);
    background-size: contain;
    width: 15px;
    height: 11px;
    margin-bottom: -1px;
    transition: all 0.3s ease;
  }

  &:hover {
    border: none;
    background-color: $black;
    color: $white;
    transition: all 0.3s ease;

    span {
      filter: brightness(0) saturate(100%) invert(100%) sepia(42%) saturate(41%)
        hue-rotate(176deg) brightness(116%) contrast(94%);
      transition: all 0.3s ease;
    }
  }
}

.button-orange {
  background-color: $orange;

  &::after {
    content: "";
    background-color: #ff8b37;
  }

  &:hover {
    background-color: $white;
    border: solid 1px $orange;
    color: $orange;

    &::after {
      height: 100%;
    }
  }
}

.button-purple {
  background-color: $purple;

  &::after {
    content: "";
    background-color: #8656e6;
  }

  &:hover {
    background-color: $white;

    border: solid 1px $purple;
    color: $purple;

    &::after {
      height: 100%;
    }
  }
}

.button-black {
  background-color: $black;

  &::after {
    content: "";
    background-color: #858585;
  }

  &:hover {
    background-color: $white;
    border: solid 1px $black;
    color: $black;

    &::after {
      height: 100%;
    }
  }
}

.button-white {
  color: $black;
  background-color: $white;
  border: 1px solid $black;

  span {
    :nth-child(2) {
      display: none;
      transition: all 0.5s ease;
    }
  }

  &::after {
    content: "";
    background-color: $black;
  }

  &:hover {
    background-color: $black;
    border: none;
    border: 1px solid $white;

    color: $white;
  }
}

.back-blue {
  background-color: $blue;
}
.back-black {
  background-color: $black;
}

.back-grey {
  background-color: $grey;
}

.back-orange {
  background-color: $orange;
}

.back-purple {
  background-color: $purple;
}

/*  header  block  */

.header {
  position: relative;
  z-index: 4;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 1000px 1000px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #f7f7f7;
  }

  .logo {
    font-family: "Ermilov-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-right: auto;
    margin-bottom: -4px;
  }

  .button {
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin-left: auto;
    font-family: "Commissioner";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    padding-bottom: 6px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 50px;

    .nav-link {
      font-family: "Commissioner";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px; /* 125% */

      color: $black;
      display: inline-block;
      position: relative;
      transition: all 0.3s;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        height: 2px;
        background-color: $orange;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
      }

      &:hover {
        transform: scale(1.1);
        color: $orange;
        text-shadow: 0 0 0.5px $orange;
        transition: all 0.3s;

        &::after {
          left: 0;
          right: 0;
          transition: all 0.5s ease;
        }
      }
    }
    .current {
      
      .nav-link {
        transform: scale(1.1);
        color: $orange;
        text-shadow: 0 0 0.5px $orange;
        transition: all 0.3s;

        &::after {
          left: 0;
          right: 0;
          transition: all 0.5s ease;
        }
      }
    }
  }

  .header-menu {
    display: none;
    gap: 3px;
    align-items: end;
    background-color: $white;
    position: relative;
    z-index: 20;
  }

  .header-menu p {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  ._hidden {
    display: none;
  }

  .open {
  }

  .back-white {
    background-color: #fefefe !important;
    border-radius: none !important;
    box-shadow: none !important;

    .header-menu {
      background-color: #fefefe !important;
      border-radius: 25px;
    }
  }

  .menu {
    height: calc(100vh - 50px);
    position: fixed;
    top: -100vh;
    right: 0;
    width: 100vw;
    background-color: #000000;
    transition: all 0.5s ease-out;
    z-index: 10;
  }

  ._active {
    top: 40px;
    transition: all 0.5s ease-out;
  }

  .menu-body {
    background-color: #fff;
    height: calc(100vh - 40px);
    border-top: none;
    border-radius: 0 0 20px 20px;
    padding: 60px 35px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    .nav {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-end;
      margin-bottom: 50px;

      .nav-link {
        color: #1a1a1a;
        text-align: right;
        font-family: "Ermilov-Bold";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 83.333% */
        letter-spacing: -0.6px;
      }
    }

    .right {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      a {
        color: #b9b9b9;
        text-align: right;
        font-family: "Commissioner";
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 14px; /* 116.667% */
      }
    }
    .button {
      height: 30px;
      font-family: "Commissioner";
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px; /* 114.286% */
      display: flex;
      max-width: none;
      width: 233px;
      margin-top: 15px;
    }
    p {
      margin-top: auto;
      color: #1a1a1a;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px; /* 114.286% */
      text-transform: none;
      text-align: right;
    }
  }

  .menu-btn {
    width: 20px;
    height: 12px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: none;
    border: none;
  }

  .menu-btn span {
    width: 17px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #000000;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 3px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 3px);
  }

  .menu-btn.rotate span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.rotate span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(30deg);
  }

  .menu-btn.rotate span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-30deg);
  }
}

.word {
}

.social {
  display: flex;
  gap: 10px;

  img {
    height: 26px;
    width: auto;
  }
}
/* header bottom on other pages   */

.header-bottom {
  padding: 90px 0 15px 0;
  margin-top: -75px;
  background-color: #e8e8e8;
  z-index: 1;

  .container {
    border-radius: none;
    box-shadow: none;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;

    .search {
      margin-left: auto;
    }

    select {
      border: none;
      background: none;
      max-width: fit-content;
      appearance: none;

      font-family: "Commissioner";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px; /* 125% */

      &:checked {
        border: none;
        background: none;
      }

      &:nth-last-of-type() {
        margin-right: 50px;
      }

      option {
        &::after {
          content: url(./../img/select-vector.svg);
          width: 14px;
          height: 8px;
          margin-left: 5px;
          position: absolute;
          top: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}

/* slider form  */

.search {
  display: inline-flex;
  max-width: 400px;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    background-image: url(./../img/search.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.5;
    width: 23px;
    position: absolute;
    height: 14px;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 8px;
    border-left: 1px solid #1a1a1a;
  }

  .search-button {
    display: block;
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    background: transparent;
    z-index: 2;
  }
  input {
    border: none;
    border-radius: 100px;
    background: #f7f7f7;
    width: 100%;
    height: 30px;
    padding-left: 15px;

    &::placeholder {
      color: #b9b9b9;
      font-family: "Commissioner";
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px; /* 114.286% */
    }
  }
}

/* slider slick     */

.slick-slider {
  position: relative;
  width: calc(100vw - 100px);
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */

.slick-list {
  display: block;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  gap: 20px;
  overflow: hidden;
  padding-bottom: 7px;
  padding-left: 7px;
  position: relative;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {
  border-radius: 50px;
  height: 60px;
  width: 60px;
  position: absolute;
  font-size: 0;
  z-index: 20;
  cursor: pointer;
  background-color: $black;
  bottom: -90px;
  transition: all 0.5s ease;
  overflow: hidden;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101%;
    height: 0%;
    will-change: transform;
    transition-timing-function: cubic-bezier(0.12, 0.77, 0.16, 0.93);
    transition-duration: 0.5s;
    z-index: 1;
    background-color: $orange;
  }

  &:hover {
    transition: all 0.5s ease;

    &::after {
      height: 101%;
    }
  }
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: calc(100% - 230px);
  right: 0;

  &::before {
    background-image: url(./../img/prev.svg);
    background-position: 17px;
  }

  &:hover {
    transition: all 0.5s ease;

    &::after {
      height: 100%;
    }
  }
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  left: calc(100% - 160px);
  right: inherit;

  &::before {
    background-image: url(./../img/next.svg);
    background-position: 22px;
  }

  &:hover {
    transition: all 0.5s ease;

    &::after {
      height: 100%;
    }
  }
}

/* footer */

.footer {
  padding: 100px 0;
  border-radius: 30px 30px 0px 0px;
  background-color: $black;
  position: relative;
  z-index: 3;

  .content {
    border-radius: 30px;
    background-color: $white;
    padding: 50px 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 150px;
    align-items: end;
    justify-content: start;
  }

  .left {
    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 22px;
    }
    .logo {
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      font-family: "Ermilov-Bold";
    }

    .button {
      max-width: 278px;
      height: 42px;
      font-family: "Commissioner";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: none;
      margin-top: 20px;
      padding-bottom: 5px;
    }
  }
  .social {
    display: flex;
    gap: 15px;

    img {
      height: 36px;
      width: auto;

      filter: brightness(0) saturate(100%) invert(6%) sepia(17%) saturate(192%)
        hue-rotate(314deg) brightness(105%) contrast(92%);

      &:hover {
        filter: brightness(0) saturate(100%) invert(40%) sepia(62%)
          saturate(1650%) hue-rotate(1deg) brightness(105%) contrast(105%);
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 33px;

    .nav-link {
      font-family: "Commissioner";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      &:hover {
        font-weight: 600;
      }
    }
  }
  .mob {
    display: none;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      color: #b9b9b9;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      &:hover {
        color: $black;
      }

      &:nth-of-type(1) {
        text-decoration-line: underline;
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  /* general styles */

  h1 {
    font-size: 30px;
    line-height: 27px; /* 90% */
    letter-spacing: -0.6px;
  }

  h2 {
    font-size: 30px;
    line-height: 25px; /* 83.333% */
    letter-spacing: -0.6px;
  }

  .container {
    padding: 0 35px;
  }

  .button {
    font-size: 16px;
    line-height: 10px; /* 62.5% */
    letter-spacing: -0.32px;
    line-height: normal;
    height: 50px;
    max-width: none;
  }

  /* header  block*/

  .header {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 20px;
    }

    .logo {
      font-size: 13.343px;
      margin-bottom: 0;
    }

    .button {
      display: none;
    }

    .nav {
      display: none;
    }

    .header-menu {
      display: flex;
    }
  }

  .back-white {
    background-color: $black;
    border-radius: none;
    box-shadow: none;
    border-radius: none;
    margin: 0 -2px;

    .header-menu {
      background-color: #fefefe;
      border-radius: 25px;
    }

    .container {
      background-color: #fefefe;
      border-radius: 25px 25px 0 0;
    }
  }

  /* header bottom on other pages   */

  .header-bottom {
    padding: 70px 0 15px 0;
    margin-top: -55px;

    .container {
      border-radius: none;
      box-shadow: none;
      background-color: #e8e8e8;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 20px;

      /* filter  in header */
      .filter-form {
        gap: 20px;

        .select-name {
          font-size: 12px;
          line-height: 14px; /* 116.667% */
          padding-right: 18px;
        }

        .select-list {
          position: absolute;
          bottom: 0;
          left: initial;
          right: -13px;
          width: 100vw;
          max-width: 300px;
          margin-left: 1px;
          top: 200%;
          background-color: $black;
          border-radius: 0 0 10px 10px;
          padding: 20px 20px 20px 20px;
          transition: height 1s ease-out;
          -webkit-transform: scaleY(0);
          -o-transform: scaleY(0);
          -ms-transform: scaleY(0);
          transform: scaleY(0);
          display: block;
          z-index: -1;

          &::before {
            content: "";
            top: -25px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 25px;
            background-color: #1a1a1a;
          }

          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            gap: 40px;
            padding: 10px 0;
            color: #f7f7f7;
            min-width: 261px;

            &:not(:last-child) {
              border-bottom: #4d4d4d solid 1px;
            }
          }

          input[type="checkbox"] {
            position: relative;

            &:checked {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                transition: 120ms transform ease-in-out;
                background-color: #ffffff;
                border-radius: 50%;
              }
            }
          }

          input[type="checkbox"]::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            transition: 120ms transform ease-in-out;
            background-color: $black;
            border: solid 1px #fff;
            border-radius: 50%;
          }
        }

        .close {
          .select-list {
            height: 0px;
          }
        }

        .open {
          .select-list {
            height: fit-content;
            -webkit-transform: scaleY(1);
            -o-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: top;
            -o-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top;

            -webkit-transition: -webkit-transform 0.4s ease-out;
            -o-transition: -o-transform 0.4s ease;
            -ms-transition: -ms-transform 0.4s ease;
            transition: transform 0.4s ease;
            box-sizing: border-box;
          }

          .select-name {
            &::after {
              content: url(./../img/select-vector.svg);
              margin-left: 5px;
              position: absolute;
              transform: rotate(180deg);
            }

            &::before {
              content: "";
              background-image: url(./../img/polygon.svg);
              background-size: 100%;
              left: calc(100% - 20px);
              bottom: calc(-100% - 6px);
              position: absolute;
              width: 32px;
              height: 17px;
              fill: #1a1a1a;
            }
          }
        }
      }

      .search {
        margin-left: 0;
      }

      select {
        border: none;
        background: none;
        max-width: fit-content;
        appearance: none;

        font-family: "Commissioner";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px; /* 125% */

        &:checked {
          border: none;
          background: none;
        }

        &:nth-last-of-type() {
          margin-right: 50px;
        }

        option {
          &::after {
            content: url(./../img/select-vector.svg);
            width: 14px;
            height: 8px;
            margin-left: 5px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }

  /*  search form   */

  .search {
    &::after {
      content: "";
      opacity: 1;
      padding-left: 0px;
      border-left: none;
      width: 14px;
      height: 16px;
      left: 0;
      right: inherit;
    }
    .search-button {
      display: block;
      width: 14px;
      height: 16px;
      right: inherit;
      left: 0;
    }

    input {
      width: 0;
      height: 16px;
      background-color: transparent;
      border: none;
    }
  }

  .open-search {
    transition: 1s all ease;

    &::after {
      content: "";
      opacity: 0.5;
      left: inherit;
      height: 14px;
      right: 15px;
      width: 20px;
      top: 50%;
      padding-left: 8px;
      border-left: 1px solid #1a1a1a;
      transition: 0.5s all ease;
    }
    .search-button {
      top: 15px;
      left: inherit;
      right: 10px;
      transition: 0.5s all ease;
    }

    input {
      width: 100%;
      height: 30px;
      transition: 0.5s all ease;
      background: #f7f7f7;
    }
  }
  /* ------- slider slick ----------- */

  .slick-slider {
    width: calc(100vw - 35px);
  }

  .slick-arrow {
    height: 50px;
    width: 50px;
    background-size: 30px;
  }

  .slick-track {
    display: flex;
    gap: 10px;
  }

  .slick-arrow {
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: -25px;
  }

  .slick-arrow.slick-prev {
    right: 90px;
    left: inherit;

    &::before {
      background-image: url(./../img/prev.svg);
      background-size: 14px;
    }
  }

  .slick-arrow.slick-next {
    right: 35px;
    left: inherit;

    &::before {
      background-size: 14px;
    }
  }

  /* footer */

  .footer {
    padding: 0;
    border-radius: 0px;
    border-radius: 30px 30px 0px 0px;
    background-color: #000000;

    .container {
      padding: 0;
    }

    .content {
      border-radius: 30px;
      padding: 60px 35px 135px 35px;
      grid-template-columns: 1fr;
      gap: 0px;
      align-items: start;
    }

    .left {
      p {
        font-size: 14px;
        line-height: 16px; /* 114.286% */
        margin-top: 30px;
      }
      .logo {
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline-block;
      }

      .button {
        max-width: 233px;
        height: 30px;
        font-size: 14px;
        line-height: 16px; /* 114.286% */
        margin-top: 15px;
      }
    }
    .social {
      display: flex;
      gap: 12px;
      position: absolute;
      top: 60px;
      right: 35px;

      img {
        height: 26px;
        width: auto;
      }
    }

    .nav {
      gap: 10px;
      margin: 0;

      .nav-link {
        font-size: 12px;
        line-height: 14px; /* 116.667% */
      }
    }

    .desck {
      display: none;
    }
    .mob {
      display: flex;
    }
    .right {
      gap: 10px;
      margin-top: 50px;

      a {
        font-size: 12px;
        line-height: 14px; /* 116.667% */

        &:hover {
          font-weight: 500;
        }
      }
    }
  }

  /* footer black for all pages exept home page */

  .black {
    background-color: $black;
    .container {
      .content {
        background-color: $black;
        color: $white;

        .social {
          img {
            filter: brightness(0) saturate(100%) invert(99%) sepia(3%)
              saturate(13%) hue-rotate(320deg) brightness(114%) contrast(94%);

            &:hover {
              filter: brightness(0) saturate(100%) invert(40%) sepia(62%)
                saturate(1650%) hue-rotate(1deg) brightness(105%) contrast(105%);
            }
          }
        }

        .logo {
          color: $white;
        }
        .nav {
          a {
            color: $white;
          }
        }

        .right {
          gap: 10px;
          margin-top: 50px;

          a {
            font-size: 12px;
            line-height: 14px; /* 116.667% */

            &:hover {
              font-weight: 500;
              color: $white;
            }
          }
        }
      }
    }
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 5vw;
  }
  .container {
    padding: 0 50px;
  }

  .header {
    .open-menu {
      display: none;
    }
    .header-menu {
      display: none;
    }
  }
  .footer {
    .content {
      grid-template-columns: auto auto;
      gap: 50px;
    }
  }
  .values {
    .container {
      grid-template-columns: 1fr;
    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  .container {
    padding: 0 50px;
  }

  .nav {
    gap: 20px;
  }

  .footer {
    .content {
      grid-template-columns: auto auto;
      gap: 50px;
    }
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

@media (min-width: 1450px) {
  /* Стрелка влево */

  .slick-arrow.slick-prev {
    left: calc(50% + 200px);
    right: 0;

    &::before {
      background-image: url(./../img/prev.svg);
    }

    &:hover {
      transition: all 0.5s ease;

      &::after {
        height: 100%;
      }
    }
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next {
    left: calc(50% + 270px);
    right: inherit;

    &::before {
      background-image: url(./../img/next.svg);
    }

    &:hover {
      transition: all 0.5s ease;

      &::after {
        height: 100%;
      }
    }
  }
}
