/* colors */

$black: #1a1a1a;
$orange: #ff6b00;
$purple: #6736d0;
$white: #f7f7f7;
$blue: #5668e6;
$grey: #b9b9b9;

/* main section */

.main {
  padding-top: 70px;
  padding-bottom: 40px;

  .container {
    position: relative;
    text-align: center;
  }

  .main-title {
    margin: 0 -95px;
    text-align: center;
    display: inline-block;

    span {
      color: $orange;
    }
  }
  .sub-title {
    display: none;
  }

  .content {
    display: grid;
    grid-template-columns: 433px auto;
    gap: 63px;
  }

  .main-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
  }

  .content-right {
    position: relative;
    margin-top: -106px;
    padding-left: 61px;
    text-align: left;

    img {
      width: 31vw;
      max-width: 434px;
      z-index: 2;
      position: inherit;
    }

    .item {
      position: absolute;
      background-color: #ffdcbc;
      padding: 20px;
      flex-direction: column;
      gap: 5px;
      border-radius: 20px;
      max-width: 205px;
      z-index: 1;

      &:nth-of-type(1) {
        left: 0;
        bottom: 151px;
      }

      &:nth-of-type(2) {
        right: 103px;
        bottom: 181px;
      }

      &:nth-of-type(3) {
        right: 0;
        bottom: 54px;
      }
    }
    .number {
      font-family: "Ermilov-Bold";
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .text {
      text-align: center;
    }
  }
}

/* values section */

.values {
  background-color: $black;
  border-radius: 30px;
  padding: 130px 0 100px 0;
  position: relative;
  color: $white;
  overflow: visible;

  &::after,
  &::before {
    position: absolute;
    content: url(../img/xxxx-desck.svg);
    z-index: 10;
  }
  &::after {
    bottom: -11px;
    right: 100px;
  }
  &::before {
    top: -9px;
    left: 100px;
  }

  .container {
    display: grid;
    grid-template-columns: auto 42vw;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 30px;
  }

  .value {
    margin-bottom: 30px;

    .flex {
      justify-content: start;
      gap: 12px;
    }
    .icon {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      min-width: 35px;
      justify-content: center;
      background-color: $orange;
    }

    h4 {
      font-family: "Commissioner";
      font-size: 20px;
      font-weight: 600;
      line-height: 30px; /* 150% */
      color: $orange;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 20px; /* 125% */
      margin-top: 8px;
      max-width: 430px;
    }
  }

  .video-block {
    position: relative;
    height: auto;
    width: 42.36vw;
    max-width: 610px;

    .video {
      border-radius: 30px;
      overflow: hidden;
      width: 100%;
      height: 23.82vw;
      max-height: 343px;
      position: relative;
      transition: transform 0.5s;

      video {
        width: 100%;
      }
    }

    .videop-play {
      transform: scale(1.1);
      transition: transform 0.5s;
      z-index: 2;
    }

    .text {
      width: 78.5%;
      max-width: 479px;
      height: 171px;
      background-image: url(./../img/text-back-pc.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: translate(-50%, 0);
    }
  }
  .buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    .button {
      width: 300px;
      height: 60px;

      span {
        &:nth-child(1) {
          font-size: 20px;
          line-height: 15px; /* 75% */
        }
        &:nth-child(2) {
          width: 17px;
          height: 22px;
        }
      }
    }
  }
}

/* products section */

.products {
  background-image: url(../img/back-products.png);
  background-size: 100%;
  border-radius: 30px;
  padding: 100px 50px;
  position: relative;
  z-index: 1;

  .container {
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 100px 50px;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0;
    position: relative;
    overflow: hidden;

    .image {
      display: none;
      /* не актуальний в новому макеті */
      position: absolute;
      width: 42vw;
      height: 30vw;
      max-width: 597px;
      max-height: 423px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../img/back-img-products.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
    h2 {
      margin-bottom: 10px;
    }

    .left {
      max-width: 382px;
      width: 27vw;
      min-width: 247px;
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translate(0%, 0%);
      z-index: -1;
      max-block-size: inherit;
    }

    .right {
      position: absolute;
      max-width: 343px;
      width: 24vw;
      min-width: 233px;
      bottom: -100px;
      right: 50%;
      transform: translate(-58%, 0%);
      z-index: -1;
      max-block-size: inherit;
    }

    .courses {
      position: inherit;
      z-index: 4;

      ul {
        li {
          margin-bottom: 10px;

          &::before {
            content: "•";
            margin-right: 10px;
          }
        }
      }
    }

    .cooperation {
      justify-self: end;
      text-align: end;
      position: inherit;
      z-index: 3;

      ul {
        list-style: none;

        li {
          margin-bottom: 10px;
          &::after {
            content: "•";
            margin-left: 10px;
            width: 4.08px;
            height: 3.839px;
          }
        }
      }
    }

    .button {
      width: 300px;
      height: 60px;
      margin-top: 60px;

      span {
        &:nth-child(1) {
          font-size: 20px;
          line-height: 15px; /* 75% */
        }
        &:nth-child(2) {
          width: 17px;
          height: 22px;
        }
      }
    }
  }
}

/* about club section */

.club {
  position: relative;
  z-index: 3;
  overflow: visible;
  padding-top: 110px;
  padding-bottom: 58px;

  &::before {
    position: absolute;
    content: url(../img/xxxx-desck-purple.svg);
    top: -11px;
    left: 100px;
  }

  .container {
    img {
      width: 43vw;
      height: 27vw;
      max-height: 397px;
      max-width: 620px;
      position: absolute;
      right: 100px;
      z-index: -1;
      bottom: 50%;
      transform: translate(0, 50%);

      &:nth-last-of-type(1) {
        display: none;
      }
    }
  }
  .sub-title {
    font-family: "Kukurudza";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 100% */
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 125% */
    margin-top: 30px;
    max-width: 530px;

    span {
      color: $purple;
      font-weight: 600;
    }
  }
  .buttons {
    display: flex;
    gap: 10px;
    margin-top: 50px;

    .button {
      width: 300px;
      height: 60px;

      span {
        &:nth-child(1) {
          font-size: 20px;
          line-height: 15px; /* 75% */
        }
        &:nth-child(2) {
          width: 17px;
          height: 22px;
        }
      }
    }
  }
}

/* about events section */

.events {
  padding-bottom: 100px;
  padding-top: 58px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  z-index: 2;

  h2 {
    margin-bottom: 30px;

    span {
      color: $purple;
    }
  }

  .event {
    border-radius: 20px;
    border: 1px solid #e8e8e8;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 25px 30px 30px;
    max-width: 400px;

    .info {
      display: flex;
      gap: 5px;
      margin-bottom: 20px;

      p {
        display: inline-block;
        border-radius: 85px;
        padding: 5px 10px 7px;

        color: #fff;
        font-family: "Kukurudza";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 109.6%; /* 17.536px */
      }

      .date {
        background-color: $black;
      }
    }

    .title {
      margin-bottom: 30px;
    }
    .about-author {
      display: flex;
      gap: 19px;
    }

    .description {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        content: "";
        height: 100%;
        width: 1px;
        background-color: #dbdbdb;
      }
    }
    .avatar {
      width: 57px;
      height: 57px;
      min-width: 57px;
      border-radius: 100px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }
    .name {
      grid-area: name;
      display: flex;
      align-items: center;
      gap: 5px;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px; /* 114.286% */

      p {
        position: relative;
        display: inline-block;

        &::after {
          display: none;
          /* буде реалізовано в наступній ітерації сайту */

          content: "";
          left: 0;
          position: absolute;
          margin-top: 4px;
          bottom: 0;
          height: 2px;
          width: 100%;
          background-image: url(../img/under-line.svg);
          background-repeat: no-repeat;
        }
      }

      a {
        width: 13px;
        height: 11px;
        background-image: url(../img/info-icon.svg);
        background-size: cover;
      }
    }

    .position {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px; /* 114.286% */
      margin-top: 5px;
    }
  }

  .button {
    width: 300px;
    height: 60px;
    margin-top: 30px;

    span {
      &:nth-child(1) {
        font-size: 20px;
        line-height: 15px; /* 75% */
      }
      &:nth-child(2) {
        width: 17px;
        height: 22px;
      }
    }
  }
}

/* about limitation section */

.limitation {
  padding: 150px 0 100px 0;
  position: relative;
  margin-top: -50px;
  background-color: $black;
  z-index: 1;

  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-image: url(../img/back-limitation.svg);

  .container {
    display: flex;
  }
  .left {
    border-radius: 30px;
    background: #fff;
    padding: 50px 100px 50px 70px;
    position: relative;
    width: 60%;
    margin-right: -1px;

    &::before {
      position: absolute;
      width: 45px;
      height: 52px;
      content: "";
      background-image: url(../img/Vector.svg);
      background-size: contain;
      left: 67px;
      top: -21px;
    }

    h4 {
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 100% */
      margin-bottom: 20px;

      span {
        color: $orange;
      }
    }

    p {
      font-family: "Kukurudza";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 100% */

      a {
        text-decoration: underline;
      }
    }
  }
  .right {
    border-radius: 30px;
    background: #fff;
    width: 40%;
    position: relative;

    &::before {
      position: absolute;
      content: url(../img/separator.svg);
      left: -10px;
      top: 50%;
      transform: translate(0, -50%);
    }

    img {
      position: absolute;
      top: -38px;
      right: 50%;
      transform: translate(50%, 0);
    }
  }
}

/* cases section */

.cases {
  padding: 100px 0;

  h2 {
    span {
      color: $orange;
    }
  }

  .cases-slider {
    display: flex;
    margin-top: 50px;
    gap: 20px;
  }

  .case {
    max-width: 397px;
    display: flex;
    flex-direction: column;

    .cover {
      min-height: 250px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px 30px 0px 0px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .case-about {
      position: relative;
      padding: 45px 50px 30px 30px;
      border-radius: 0px 0px 30px 30px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      height: 100%;
      display: flex;
      flex-direction: column;

      .category {
        position: absolute;
        border-radius: 84.55px;
        background: #1a1a1a;
        color: $white;
        padding: 4px 10px 10px;
        height: 29px;
        font-family: "Kukurudza";
        font-size: 16px;
        line-height: 109.6%; /* 17.536px */
        top: -14px;
        left: 29px;
      }
      .title {
        font-size: 20px;
        line-height: 20px; /* 100% */
        margin-bottom: 10px;
      }

      .excerpt {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px; /* 125% */
        margin-bottom: 30px;
      }
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 0 10px;
    margin-top: 30px;
    flex-wrap: wrap;

    .button {
      max-width: 300px;
      height: 60px;
      font-size: 20px;
      font-weight: 700;
      line-height: 15px; /* 75% */

      &:nth-child(1) {
        grid-column: 1/2;
      }

      &:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }
  .info {
    margin-top: 23px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
    padding-left: 13px;
    position: relative;
    grid-column: 1/2;

    &::before {
      content: url(../img/*.svg);
      position: absolute;
      left: 0;
      top: -13px;
    }
  }
}
/* partners section */

.partners {
  padding-bottom: 100px;
  overflow: visible;

  h2 {
    display: inline-block;
    position: relative;
    z-index: 2;

    span {
      color: $orange;
    }

    &::after {
      position: absolute;
      content: url(../img/light.png);
      bottom: -142px;
      left: 213px;
      width: 363px;
    }
  }

  .partner-slider {
    background-color: $black;
    height: 200px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100vw;

    .slick-track {
      gap: 100px;

      img {
        max-width: 243px;
        height: auto;
      }
    }
  }
}

/* media  section */

.medias {
  padding-bottom: 90px;

  h2 {
    span {
      color: $orange;
    }
  }
  .medias-slider {
    margin-top: 50px;
  }

  .media-item {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    .cover {
      min-height: 144px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px 30px 0px 0px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .madia-about {
      border-radius: 0px 0px 30px 30px;
      border: 1px solid #e8e8e8;
      padding: 30px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
    }

    .title {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 20px; /* 100% */
    }
  }
}

/* blog  section */

.blog {
  padding: 100px 0;

  .sub-title {
    font-family: "Kukurudza";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 100% */
    margin-top: 10px;
    max-width: 532px;
  }
  .blog-slider {
    margin-top: 50px;
  }
  .article {
    max-width: 400px;

    .cover {
      height: 247px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px 30px 0px 0px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .article-about {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 45px 30px 30px 30px;
      gap: 30px;
      border-radius: 0px 0px 30px 30px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .tags {
        position: absolute;
        display: flex;
        gap: 5px;
        left: 30px;
        top: -15px;

        p {
          color: #fff;
          font-family: "Kukurudza";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 109.6%; /* 17.536px */
          display: inline-flex;
          height: 29px;
          justify-content: center;
          padding: 3px 10px 0 10px;
          border-radius: 84.55px;
        }

        .tag {
        }

        .category {
          span {
            content: url(../img/article.svg);
            width: 12px;
            height: 10px;
            margin-right: 5px;
            margin-top: 6px;
          }
        }
      }

      .title {
      }

      .info {
        color: #b9b9b9;
        font-family: "Commissioner";
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px; /* 114.286% */

        display: flex;
        gap: 15px;
      }
      .date {
      }
      .time-toRead {
        padding-left: 15px;
        border-left: solid 1px #b9b9b9;
      }
      .views {
        margin-left: auto;

        &::before {
          content: url(../img/views.svg);
          margin-right: 5px;
        }
      }
    }
  }

  .button {
    margin-top: 30px;
    width: 300px;
    height: 60px;
    font-size: 20px;

    line-height: 15px; /* 75% */
  }
}

.article {
  max-width: 400px;

  .cover {
    height: 247px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 0px 0px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .article-about {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 45px 30px 30px 30px;
    gap: 30px;
    border-radius: 0px 0px 30px 30px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    .title {
    }

    .info {
      color: #b9b9b9;
      font-family: "Commissioner";
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px; /* 114.286% */

      display: flex;
      gap: 15px;
    }
    .date {
    }
    .time-toRead {
      padding-left: 15px;
      border-left: solid 1px #b9b9b9;
    }
    .views {
      margin-left: auto;

      &::before {
        content: url(../img/views.svg);
        margin-right: 5px;
      }
    }
  }
}

.tags {
  position: absolute;
  display: flex;
  gap: 5px;
  left: 30px;
  top: -15px;

  p {
    color: #fff;
    font-family: "Kukurudza";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.6%; /* 17.536px */
    display: inline-flex;
    height: 29px;
    justify-content: center;
    padding: 3px 10px 0 10px;
    border-radius: 84.55px;
  }

  .tag {
  }

  .category {
    span {
      content: url(../img/article.svg);
      width: 12px;
      height: 10px;
      margin-right: 5px;
      margin-top: 6px;
    }
  }
}

/* free section   section */
.for-free {
  padding: 120px 0 150px 0;
  position: relative;
  margin-bottom: -50px;
  background-color: $orange;
  z-index: 0;
  border-radius: 30px;
  background-image: url(../img/for-free-back.svg);

  .container {
    display: flex;
  }

  .left {
    border-radius: 30px;
    background: #fff;
    padding: 50px 35px 50px 70px;
    position: relative;
    width: 60%;
    margin-right: -1px;

    h4 {
      font-size: 30px;
      line-height: 30px; /* 100% */
      margin-bottom: 10px;

      span {
        color: $orange;
      }
    }

    p {
      font-family: "Kukurudza";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 100% */
      max-width: 407px;
    }

    .button {
      margin-top: 30px;
      max-width: 189px;
      font-family: "Commissioner";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px; /* 125% */
      height: 36px;
      text-transform: none;
    }
  }
  .right {
    border-radius: 30px;
    background: #fff;
    width: 40%;
    position: relative;

    &::before {
      position: absolute;
      content: url(../img/separator.svg);
      left: -10px;
      top: 50%;
      transform: translate(0, -50%);
    }

    img {
      position: absolute;
      bottom: 5px;
      right: 0;
    }
  }
}

/* media for ome page */

/* colors */

$black: #1a1a1a;
$orange: #ff6b00;
$purple: #6736d0;
$white: #f7f7f7;
$blue: #5668e6;
$grey: #b9b9b9;

@media (min-width: 1650px) {
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

@media (max-width: 1040px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 769px) and (max-width: 1199px) {
  .products {
    .container {
      .left {
        transform: translate(-10%, 0%);
      }
      .right {
        transform: translate(-10%, 0%);
      }
    }
  }
  .values {
    .container {
      grid-template-columns: 1fr;
      p {
        max-width: 90%;
      }
      .video-block {
        width: 100%;
        height: 40.82vw;
        .video {
          height: 40vw;
        }
      }
    }

  }

  .club {
    .container {
      img {
        right: 50px;
        bottom: inherit;
        top: 0;
        transform: translate(0, 0%);
      }
    }
  }

  /* main section */

  .main {
    .content-right {
      img {
        z-index: -1;
      }

      .item {
        &:nth-of-type(1) {
          left: -50px;
          bottom: 105px;
        }

        &:nth-of-type(2) {
          left: -50px;

          right: inherit;
          bottom: -10px;
        }

        &:nth-of-type(3) {
          right: -20px;
          bottom: -20px;
        }
      }
      .number {
        font-size: 25px;
      }
    }
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  /* main section */
  .main {
    padding-top: 60px;
    padding-bottom: 90px;

    .container {
      position: relative;
      text-align: left;
    }

    .main-title {
      margin: 0;
      margin-bottom: 5px;
      text-align: left;
      display: inline-block;

      span {
        color: $orange;
      }
    }
    .sub-title {
      display: block;
      font-family: "Kukurudza";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 100% */
    }

    .content {
      display: flex;
      flex-direction: column-reverse;
      gap: 30px;
    }

    .main-buttons {
      gap: 5px;
      margin-top: 0px;
    }

    .content-right {
      position: relative;
      margin-top: 21px;
      padding-left: 0;
      text-align: left;

      img {
        min-width: 219px;
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: -28px;
      }

      .item {
        position: relative;
        padding: 15px 10px;
        border-radius: 10px;
        max-width: 146px;

        &:nth-of-type(1) {
          left: inherit;
          bottom: inherit;
        }

        &:nth-of-type(2) {
          right: inherit;
          bottom: inherit;
        }

        &:nth-of-type(3) {
          right: inherit;
          bottom: inherit;
        }

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      .number {
        font-size: 20px;
        line-height: 15px; /* 75% */
        letter-spacing: -0.4px;
      }
      .text {
        font-size: 12px;
        line-height: 14px; /* 116.667% */
      }
    }
  }

  /* values section */

  .values {
    padding: 90px 0;
    z-index: 3;

    &::after,
    &::before {
      content: url(./../img/xxxx-mob.svg);
      z-index: 10;
    }
    &::after {
      display: none;
    }
    &::before {
      top: -9px;
      left: 35px;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: start;
    }

    .value {
      margin-bottom: 30px;

      .flex {
        justify-content: start;
        gap: 12px;
      }

      .icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        justify-content: center;
      }

      h4 {
        font-size: 16px;
        line-height: 18px; /* 150% */
      }

      p {
        font-size: 14px;
        line-height: 16px; /* 125% */
        margin-top: 10px;
        max-width: 90%;
      }
    }

    .video-block {
      position: relative;
      height: auto;
      width: 100%;
      max-width: 610px;
      margin-left: auto;
      margin-right: auto;

      .video {
        border-radius: 20px;
        width: 100%;
        height: auto;
        max-height: 343px;
        position: relative;
        margin-bottom: 100px;
      }

      .videop-play {
        transform: scale(1.1);
        transition: transform 3s;
        z-index: 2;
      }

      .text {
        width: 100%;
        background-image: url(./../img/text-back-mob.svg);
        padding-top: 40px;
        bottom: -58px;
        max-width: 350px;
      }
    }
    .buttons {
      flex-direction: column;
      gap: 5px;
      margin-top: 0px;

      .button {
        width: 100%;
        height: 50px;

        span {
          &:nth-child(1) {
            font-size: 16px;
            line-height: 10px; /* 62.5% */
          }
          &:nth-child(2) {
            width: 17px;
            height: 22px;
          }
        }
      }
    }
  }

  /* products section */

  .products {
    padding: 0;
    padding-top: 50px;
    margin-top: -50px;
    border-radius: 0 0 30px 30px;
    z-index: 1;
    padding-bottom: -10px;
    background: linear-gradient(180deg, #fff 0%, #e8e8e8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .container {
      background: none;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: start;
      gap: 0;

      .image {
        display: none;
      }

      .left {
        max-width: 330px;
        width: 80vw;
        top: inherit;
        bottom: 48px;
        left: inherit;
        right: -59px;
        transform: none;
        z-index: 1;
      }

      .right {
        width: 70vw;
        height: auto;
        max-width: 300px;
        top: inherit;
        right: inherit;
        left: -50px;
        bottom: 0px;
        transform: none;
        z-index: 3;
        max-block-size: none;
      }

      h2 {
        margin-bottom: 10px;
      }

      .courses {
        position: inherit;
        z-index: 2;
        padding: 90px 35px 142px 35px;
        width: 100%;
        background-repeat: no-repeat;
        background-color: #e8e8e8;
        background-position: top;
        background-size: 100%;
        background-image: url(../img/products-back.svg);
        clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -20%;
          z-index: -1;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        ul {
          li {
            &::before {
              content: "•";
              margin-right: 10px;
            }
          }
        }
      }

      .cooperation {
        justify-self: end;
        text-align: end;
        position: inherit;
        border-radius: 0 0 30px 30px;
        width: 100%;
        padding: 0 35px 90px 35px;

        ul {
          list-style: none;

          li {
            &::after {
              content: "•";
              width: 3px;
              height: 3px;
            }
          }
        }
      }

      .button {
        width: 231px;
        height: 50px;
        margin-top: 30px;
        position: inherit;
        z-index: 10;

        span {
          &:nth-child(1) {
            font-size: 16px;
            line-height: 10px; /* 62.5% */
          }
          &:nth-child(2) {
            width: 17px;
            height: 22px;
          }
        }
      }
    }
  }

  /* about club section */

  .club {
    padding-top: 90px;
    padding-bottom: 90px;

    &::before {
      content: url(../img/xxxx-mob.svg);
      top: -9px;
      left: 35px;
    }

    .container {
      img {
        width: 100%;
        max-width: 350px;
        position: inherit;
        right: 0;
        bottom: 0px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        transform: none;
        height: auto;

        &:nth-last-of-type(2) {
          display: none;
        }

        &:nth-last-of-type(1) {
          display: block;
        }
      }
    }
    .sub-title {
      font-size: 20px;
      line-height: 20px; /* 100% */
      max-width: 240px;
    }
    p {
      font-size: 14px;
      line-height: 16px; /* 114.286% */
      margin-top: 20px;
      max-width: 260px;
    }
    .buttons {
      flex-direction: column;
      gap: 5px;
      margin-top: 60px;

      .button {
        width: 100%;
        height: 50px;

        span {
          &:nth-child(1) {
            font-size: 16px;
            line-height: 10px; /* 62.5% */
          }
          &:nth-child(2) {
            width: 17px;
            height: 22px;
          }
        }
      }
    }
  }

  /* about events section */

  .events {
    padding-bottom: 90px;
    padding-top: 0;

    h2 {
      margin-bottom: 20px;
    }
    .slick-track {
    }

    .event {
      border-radius: 20px;
      padding: 30px 25px 50px 20px;
      width: calc(100vw - 70px);
      max-width: 300px;

      .info {
        margin-bottom: 10px;

        p {
          font-size: 14px;
          line-height: 16px; /* 114.286% */
        }
      }

      .about-author {
        gap: 10px;
      }

      .description {
        padding-left: 10px;
      }

      .name {
        font-size: 12px;

        p {
          &::after {
            content: "";
            left: 0;
            position: absolute;
            margin-top: 4px;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-image: url(../img/under-line.svg);
            background-repeat: no-repeat;
          }
        }
      }

      .position {
        font-size: 12px;
        line-height: 14px;
        margin-top: 10px;
      }
    }

    .button {
      width: 100%;
      height: 50px;
      margin-top: 55px;

      span {
        &:nth-child(1) {
          font-size: 16px;
          line-height: 10px;
        }
        &:nth-child(2) {
          width: 17px;
          height: 22px;
        }
      }
    }
  }

  /* about limitation section */

  .limitation {
    padding: 90px 0;

    .container {
      flex-direction: column;
    }

    .left {
      border-radius: 30px;
      background: #fff;
      padding: 50px 10px 50px 20px;
      width: 100%;
      margin-bottom: -1px;

      &::before {
        width: 31px;
        height: 36px;
        left: 20px;
        top: -18px;
      }

      h4 {
        line-height: 18px; /* 90% */
        margin-bottom: 10px;
        letter-spacing: -0.4px;
        font-size: 20px;
      }

      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .right {
      width: 100%;
      height: 198px;

      &::before {
        position: absolute;
        content: url(../img/separator-mob.svg);
        top: -10px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      img {
        position: absolute;
        top: inherit;
        min-width: 200px;
        bottom: 10px;
        filter: brightness(0) saturate(100%) invert(0%) sepia(11%)
          saturate(1158%) hue-rotate(333deg) brightness(102%) contrast(80%);
      }
    }
  }

  /* cases section */

  .cases {
    padding: 90px 0;

    .cases-slider {
      margin-top: 30px;
    }

    .case {
      width: calc(100vw - 70px);
      max-width: 300px;

      .cover {
        min-height: 181px;
        border-radius: 20px 20px 0px 0px;
      }

      .case-about {
        padding: 35px 15px 50px 20px;
        border-radius: 0px 0px 20px 20px;

        .category {
          font-size: 14px;
          line-height: 16px; /* 114.286% */
          left: 20px;
        }

        .title {
          font-size: 20px;
          line-height: 18px; /* 90% */
          letter-spacing: -0.4px;
        }

        .excerpt {
          font-size: 12px;
          line-height: 14px; /* 116.667% */
          margin-bottom: 0;
        }

        .read {
          width: 137px;
          height: 30px;
          gap: 5px;
          border-radius: 100px;
          font-size: 14px;
          line-height: 16px; /* 114.286% */
          margin-top: auto;

          span {
            background-size: contain;
            width: 14px;
            height: 10px;
          }
        }
      }
    }

    .buttons {
      grid-template-columns: 1fr;
      gap: 7px;
      margin-top: 55px;
      justify-items: center;

      .info {
        margin-top: 0;
        font-size: 12px;
        line-height: 14px; /* 114.286% */
        padding-left: 13px;
        position: relative;
        grid-column: inherit;

        &::before {
          content: url(../img/*.svg);
          width: 10px;
          height: 10px;
          position: absolute;
          left: -5px;
          top: -3px;
        }
      }

      .button {
        max-width: 100%;
        height: 50px;
        font-size: 16px;
        line-height: 10px; /* 62.5% */

        &:nth-child(3) {
          margin-top: 12px;
          grid-column: inherit;
          grid-row: inherit;
        }
      }
    }
  }

  /* partners section */

  .partners {
    padding-bottom: 0px;
    overflow: visible;

    h2 {
      &::after {
        content: url(../img/light-mob.svg);
        bottom: -20px;
        left: 34px;
        width: 232px;
      }
    }

    .partner-slider {
      height: 150px;

      .slick-track {
        gap: 37px;

        img {
          max-height: 50px;
        }
      }
    }
  }

  /* media  section */

  .medias {
    padding: 90px 0 115px 0;

    .medias-slider {
      margin-top: 30px;
    }

    .media-item {
      width: calc(100vw - 70px);
      max-width: 300px;

      .cover {
        min-height: 105px;
        border-radius: 20px 20px 0px 0px;
      }
      .madia-about {
        border-radius: 0px 0px 20px 20px;

        padding: 30px 15px 50px 20px;
      }

      .title {
        font-size: 20px;
        line-height: 18px; /* 90% */
        letter-spacing: -0.4px;
      }

      .read {
        width: 137px;
        height: 30px;
        gap: 5px;
        border-radius: 100px;
        font-size: 14px;
        line-height: 16px; /* 114.286% */

        span {
          width: 14px;
          height: 10px;
        }
      }
    }
  }

  /* blog  section */

  .blog {
    padding: 0 0 90px 0;

    .sub-title {
      font-size: 20px;
      line-height: 20px; /* 100% */
    }

    .blog-slider {
      margin-top: 30px;
    }

    .article {
      width: calc(100vw - 70px);
      max-width: 290px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .cover {
        height: 182px;
        min-height: inherit;
        border-radius: 20px 20px 0px 0px;
      }

      .article-about {
        padding: 44px 15px 28px 20px;
        border-radius: 0px 0px 20px 20px;

        .tags {
          gap: 5px;
          left: 20px;
          top: -15px;

          flex-wrap: wrap;

          p {
            color: #fff;
            font-family: "Kukurudza";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 109.6%; /* 17.536px */
            display: inline-flex;
            height: 29px;
            justify-content: center;
            padding: 3px 10px 0 10px;
            border-radius: 84.55px;
          }

          .tag {
          }

          .category {
            span {
              content: url(../img/article.svg);
              width: 12px;
              height: 10px;
              margin-right: 5px;
              margin-top: 6px;
            }
          }
        }

        .title {
          font-size: 20px;
          line-height: 18px; /* 90% */
          letter-spacing: -0.4px;
        }

        .read {
          width: 155px;
          height: 30px;
          gap: 5px;
          border-radius: 100px;
          font-size: 14px;
          line-height: 16px; /* 114.286% */

          span {
            width: 14px;
            height: 10px;
          }
        }
        .info {
          font-size: 12px;
          line-height: 14px; /* 114.286% */
          display: flex;
          gap: 10px;
        }
        .date {
        }
        .time-toRead {
          padding-left: 10px;
        }
      }
    }

    .button {
      width: 100%;
      height: 50px;
      font-size: 16px;
      line-height: 10px; /* 62.5% */

      span {
        display: none;
      }
    }
  }

  /* free section   section */
  .for-free {
    padding: 90px 0 140px;
    margin-bottom: -50px;

    .container {
      flex-direction: column;
    }

    .left {
      border-radius: 20px;
      padding: 50px 20px;

      width: 100%;
      margin-bottom: -1px;

      h4 {
        font-size: 20px;
        line-height: 18px; /* 90% */
        letter-spacing: -0.4px;
      }

      p {
        font-size: 14px;
        line-height: 16px; /* 114.286% */
      }

      .button {
        height: 30px;
        max-width: 137px;
        font-size: 14px;
        line-height: 16px; /* 114.286% */
      }
    }
    .right {
      border-radius: 20px;
      width: 100%;
      height: 198px;

      &::before {
        position: absolute;
        content: url(../img/separator-mob.svg);
        top: -10px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      img {
        position: absolute;
        bottom: 5px;
        right: inherit;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .main {
    .content-right {
      img {
        right: -23px;
        left: inherit;
        transform: none;
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 330px) {
}
